## Directories appearing
# may contain cache data or binaries

.cache/
.python-environments/
auto-save-list/
elpa/
eshell/
games/
idlwave/
irony/
semanticdb/
transient/
url/

# Files of cache

ac-comphist.dat
projectile-bookmarks.eld
session.*
.lsp-session*
/tramp
/bookmarks
/custom.el
/*.bak
/recentf
/tree-sitter
/remote.el
/eln-cache/
/keyfreq
/config.el
/.mc-lists.el
/ellama-sessions/
/persp-confs/
/auto/
/dirvish/
/settings.el
/.org-id-locations
/lsp-bridge/
