[submodule "typst-ts-mode"]
	path = deps/typst-ts-mode
	url = https://git.sr.ht/~meow_king/typst-ts-mode
[submodule "deps/color-rg"]
	path = deps/color-rg
	url = https://github.com/manateelazycat/color-rg.git
